<?xml version="1.0"?>
<routes>
    <route
            value="module/create/[module]"
            controller="/page/ModuleController"
            method="create">
        <parameter name="name" value="field:module:create:name" />
    </route>
    <route
            value="module/delete/[module]"
            controller="/page/ModuleController"
            method="delete">
        <parameter name="name" value="field:module:delete:name" />
    </route>
    <route
            value="module"
            controller="/page/ModuleController"
            method="index">
    </route>
    <route
            value="([controller](/[method]))"
            controller="/page/[controller]"
            method="[method]">
        <default name="controller" value="home" />
        <default name="method" value="index" />
    </route>
</routes>
